* {
    background: #F3F8FF;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    padding: 40px;
    padding-left: 40px;
    width: 10%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 50px 80px;
}

.text-area {
    border: none;
    color: #E26EE5;
    text-transform: lowercase;
    width: 80%; 
    max-width: 600px; 
    padding: 20px;
    margin-bottom: 20px; /* Agrega margen inferior para separar elementos */
}

::placeholder { color: #E26EE5; }

.text-area:focus {
    outline: none;
}

.mensaje {
    background: #7E30E1;
    background-image: url("Muñeco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    border-radius: 24px;
    color: #E26EE5;
    width: 80%; /* Ajusta el ancho del mensaje */
    max-width: 600px; /* Limita el ancho máximo del mensaje */
    height: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Agrega margen inferior para separar elementos */
}

.mensaje:focus {
    outline: none;
}

.botones {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 680px;
}

.btn-desencriptar,
.btn-encriptar {
    background: #49108B;
    border: 1px solid #E26EE5;
    border-radius: 24px;
    color: #E26EE5;
    cursor: pointer;
    height: 67px;
    width: 48%;
}

.btn-encriptar {
    background-color: #E26EE5;
    color: #7E30E1;
}

.btn-copiar {
    background: #49108B;
    border: 1px solid #E26EE5;
    border-radius: 24px;
    color: #E26EE5;
    cursor: pointer;
    height: 67px;
    width: 336px;
    margin-top: 20px; /* Agrega margen superior para separar elementos */
}

.informacion {
    color: #495057;
    font-size: 18px;
    margin-bottom: 24px;
    margin-left: 160px;
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    main {
        flex-direction: column; /* Ajusta la dirección de los elementos en columna */
    }

    .text-area,
    .mensaje {
        width: 90%; /* Ajusta el ancho de los elementos */
    }

    .botones {
        flex-direction: column; /* Ajusta la dirección de los botones en columna */
        align-items: center; /* Centra los botones horizontalmente */
    }

    .btn-desencriptar,
    .btn-encriptar {
        width: 100%; /* Ajusta el ancho de los botones */
        margin-bottom: 10px; /* Agrega margen inferior para separar los botones */
    }

    .btn-copiar {
        width: 100%; /* Ajusta el ancho del botón */
        margin-top: 20px; /* Agrega margen superior para separar el botón */
    }

    .informacion {
        margin-left: 20px; /* Ajusta el margen izquierdo */
    }
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
    main {
        flex-direction: column; /* Ajusta la dirección de los elementos en columna */
    }

    .text-area,
    .mensaje {
        width: 90%; /* Ajusta el ancho de los elementos */
    }

    .botones {
        flex-direction: column; /* Ajusta la dirección de los botones en columna */
        align-items: center; /* Centra los botones horizontalmente */
    }

    .btn-desencriptar,
    .btn-encriptar {
        width: 100%; /* Ajusta el ancho de los botones */
        margin-bottom: 10px; /* Agrega margen inferior para separar los botones */
    }

    .btn-copiar {
        width: 100%; /* Ajusta el ancho del botón */
        margin-top: 20px; /* Agrega margen superior para separar el botón */
    }

    .informacion {
        margin-left: 20px; /* Ajusta el margen izquierdo */
    }
}